.vs/
vscode/
bin/
obj/
SlingMD.Outlook/bin/
SlingMD.Outlook/obj/
SlingMD.Outlook/SlingMD.Outlook.csproj.user
SlingMD.Outlook/SlingMD.Outlook.csproj.vspscc
.cursor/.trash/
packages/
SlingMD.Outlook/publish/
SlingMD.Outlook/SlingMD.Outlook.csproj.user
SlingMD.Outlook/SlingMD.Outlook.csproj.vspscc
.cursor/.trash/
packages/
SlingMD.Outlook/publish/
